<div>
  <br/>
  <span style="margin-left: 110px; font-size: 18px;">Poll name: {{poll_name}}</span>
  <br/>
  <span style="margin-left: 110px; font-size: 18px;">Question # {{q_number + 1}} / {{q_qnty}}:</span>
  <br/>

  <app-display-vote-questions></app-display-vote-questions>

  <!-- already voted modal -->
  <div *ngIf="isAlreadyVoted">
    <form>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" (click)="onModalClose()">&times;</span>
            <p>Reminder</p>
          </div>
          <div class="modal-body">
            <p>You already have responded to {{q_number}} question(s) out of {{q_qnty}}. </p>
            <p>You can continue starting from question {{q_number + 1}}.</p>
            <br/>
            <button type="button" class="button button1" (click)="onModalClose()">ok</button>
            <br/>
            <br/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>