<div style="margin-left: 50px;">
  <div *ngIf="!isCopyOrMoveClicked">
    <br/>
    <h3>Questions list:
      <label style="color: lightslategray; font-size: 14px; margin-left: 100px;">
        <input type="checkbox" name="showAllQuestions" [(ngModel)]="showAllQuestions"> &nbsp; show all questions
      </label>
    </h3>
    <div *ngIf="!showAllQuestions">
      <h3 *ngIf="poll_name" style="color: green">Poll name: {{poll_name}}</h3>
      <h3 *ngIf="!poll_name" style="color: green">poll name is not defined</h3>

      <span *ngIf="canEdit">
        <a routerLink="/addquestion/{{questions | countQuestions: poll_id}}/{{poll_id}}/{{questions | countQuestions: poll_id}}"
          class="noDecor">add new question</a>
        <span class="horIndent"></span>
        <span class="horIndent"></span>
      </span>
      <a routerLink="/home" class="noDecor">go back to Polls list</a>
      <br/>
      <br/>
      <div *ngIf="!questions">No questions are found</div>
      <div *ngIf="questions">
        <p>this poll has
          <span style="color:green;font-size:20px;">{{questions | countQuestions: poll_id}}</span> question(s)</p>
        <ol>
          <li *ngFor="let question of questions | questionsFilter: poll_id; let ind=index;">
            <span *ngIf="!canEdit">
              <span style="font-size: 14px; color:green"> &nbsp; {{question.q_text}} &nbsp;</span>
              <span style="font-size: 14px; color: gray;">
                <br/> &nbsp; ( only author of the poll can edit this question )
              </span>
            </span>
            <span *ngIf="canEdit">
              <a routerLink="/editquestion/{{question.id}}" class="addnlightbg"> &nbsp; {{question.q_text}}</a>
              <br/> &nbsp;
              <a (click)="onEditQuestionClicked(question.id)" class="noDecor">edit</a>
              <span class="horIndent"></span>
              <a (click)="onDeleteQuestionClicked(question.id)" class="noDecor">delete</a>
              <span class="horIndent"></span>
              <a (click)="onCopyQuestionClicked(question.id)" class="noDecor">copy</a>
              <span class="horIndent"></span>
              <a (click)="onMoveQuestionClicked(question.id)" class="noDecor">move</a>
            </span>
            <span class="verIndent"></span>
          </li>
        </ol>
      </div>

      <div *ngIf="isDeleteModalDisplayed">
        <form>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <div class="modal-header">
                <span class="close" (click)="onDeleteCancel()">&times;</span>
                <p>Please confirm</p>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this question ?</p>
                <p>- {{questionNameToDelete}}</p>
                <br/>
                <button type="button" class="button button1" (click)="onDeleteConfirm()">Confirm</button>
                <button type="button" class="button button1" (click)="onDeleteCancel()">Cancel</button>
                <br/>
                <br/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isCopyOrMoveClicked">
    <div>
      <br/>
      <h4>{{copyOrMove | titlecase}} '{{questionNameToCopyMove}}' to:</h4>

      <div *ngFor="let poll of polls; let ind=index;">
        <label style="color: lightslategray; font-size: 14px;">
          <input type="radio" name="isToCopyMove" value={{ind}} [(ngModel)]="radioSelected[ind]"> &nbsp; {{copyOrMove}} to
        </label>
        <a routerLink="/poll/{{poll.id}}" class="addnlightbg"> &nbsp; {{poll.name}}</a>
        <span class="verIndent"></span>
      </div>
    </div>
    <br/>
    <button type="button" class="button button1" (click)="onCopyMoveConfirm()">Submit</button>
    <span class="horIndent"></span>
    <button type="button" class="button button1" (click)="onCopyOrMoveCancelled()">Cancel</button>
  </div>

  <div *ngIf="showAllQuestions">
    <a routerLink="/home" class="noDecor">go back to Polls list</a>
    <br/>
    <br/>
    <div *ngIf="questions.length == 0" style="font-size: 14px; color:lightslategray">
      <br/>
      <br/>( no questions are found )
    </div>
    <div *ngFor="let question of questions; let ind=index;">
      <span style="font-size: 14px; color: green;">- {{question.q_text}}</span>
      <div>
        <span style="font-size: 14px; color:lightslategray"> &nbsp; poll name:&nbsp; </span>
        <a (click)="cancelShowAllQuestionsAndGoToAPoll(question.questionOfPollWithId)" class="noDecor">&nbsp;{{polls | getPollNameForQuestion: question.questionOfPollWithId}}</a>
      </div>
      <span class="verIndent"></span>
    </div>
  </div>

  <div *ngIf="isCanNotModalDisplayed">
      <form>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <div class="modal-header">
                <span class="close" (click)="onCanNotModalClose()">&times;</span>
                <p>Information</p>
              </div>
              <div class="modal-body">
                <p>The poll to which this question is related has {{votesQntyOnPoll}} vote(s).</p>
                <p>Hence this question can NOT be edited, deleted or moved ! &nbsp; (can be copied)</p>
                <button type="button" class="button button1" (click)="onCanNotModalClose()">ok</button>
                <br/>
                <br/>
              </div>
            </div>
          </div>
        </form>    
  </div>

</div>