<div style="margin-left: 50px;">
  <h2>Vote and see poll results
    <a (click)="onRestoreDefaultsClicked()" class="noDecor" style="margin-left: 200px;cursor: pointer;">
      Restore defaults - cancels all changes</a>
  </h2>
  <div *ngIf="polls">
    <p *ngIf="(polls | isNotExpired).length === 0">( Please click 'Restore defaults - cancels all changes' above)</p>
    <p *ngIf="(polls | isNotExpired).length > 0" style="color: gray">( to vote click the respective poll name )</p>

    <ul *ngIf="polls.length > 0">
      <div *ngFor="let poll of polls | reversePollsOrder | isNotExpired; let ind=index;">
        <div *ngIf="poll.isPublished == true || poll.createdBy == currentUserID">
          <span *ngIf="poll.isPublished" style="color: #57d500;">&#x25cf;&nbsp;&nbsp;</span>
          <span *ngIf="!poll.isPublished" style="color: #ff2e00;">&#x25cf;&nbsp;&nbsp;</span>
          <a routerLink="/vote/{{poll.id}}" class="addnlightbg">{{poll.name}}</a>
          <span *ngIf="!poll.isPublished" style="color: lightslategray; font-size: 12px;"> &nbsp; ( not published
            )</span>
          <br />
          <a routerLink="/viewquestions/{{poll.id}}" class="noDecor"> &nbsp; &nbsp; &nbsp; view questions</a>
          <span style="color: lightslategray; font-size: 14px;"> ( {{questions | countQuestions: poll.id}} )</span>
          <span class="horIndent"></span>
          <a (click)="onClonePollClicked(poll.id)" class="noDecor">clone</a>
          <span class="horIndent"></span>
          <span style="color: lightslategray; font-size: 14px;">added:
            {{poll.createdTimeStamp | date:'MMM dd, yy'}}</span>
          <span class="horIndent"></span>
          <span style="color: lightslategray; font-size: 14px;">expires:
            {{poll.expiresTimeStamp | date:'MMM dd, yy @ hh:mm a'}}</span>
          <span *ngIf="poll.createdBy == currentUserID">
            <span class="horIndent"></span>
            <a (click)="onEditPollClicked(poll.id)" class="noDecor">edit</a>
            <span class="horIndent"></span>
            <a (click)="onDeletePollClicked(poll.id)" class="noDecor">delete</a>
            <span class="horIndent"></span>
            <span *ngIf="!poll.isPublished">
              <a (click)="onPublishClicked(poll.id, 1)" class="noDecor">publish your poll</a>
            </span>
            <span *ngIf="poll.isPublished">
              <a (click)="onPublishClicked(poll.id, 0)" class="noDecor">un-publish your poll</a>
            </span>
          </span>
          <span *ngIf="!(poll.createdBy == currentUserID)">
            <span class="horIndent"></span>
            <span style="color: lightslategray; font-size: 14px;">added by &nbsp;
              {{poll.createdByUsername | maskUsername}}</span>
          </span>
          <span class="verIndent"></span>
        </div>
      </div>
    </ul>
    <br />
    <h4 *ngIf="(polls | expiredRecently).length > 0">Expired Recently:
      <span style="color: lightslategray; font-size: 14px;"> &nbsp; ( click poll name to see final votes count )</span>
    </h4>
    <ul>
      <li *ngFor="let poll of polls | reversePollsOrder | expiredRecently; let ind=index;">
        <a routerLink="/result/{{poll.id}}" class="addnlightbg">{{poll.name}}</a>
        <br />
        <a routerLink="/viewquestions/{{poll.id}}" class="noDecor">view questions</a>
        <span style="color: lightslategray; font-size: 14px;"> ( {{questions | countQuestions: poll.id}} )</span>
        <span class="horIndent"></span>
        <a (click)="onClonePollClicked(poll.id)" class="noDecor">clone</a>
        <span class="horIndent"></span>
        <span style="color: lightslategray; font-size: 14px;">added:
          {{poll.createdTimeStamp | date:'MMM dd, yy'}}</span>
        <span class="horIndent"></span>
        <span style="color: lightslategray; font-size: 14px;">expired:
          {{poll.expiresTimeStamp | date:'MMM dd, yy @ hh:mm a'}}</span>
        <span *ngIf="poll.createdBy == currentUserID">
          <span class="horIndent"></span>
          <a (click)="onExtendPollClicked(poll.id)" class="noDecor">re-publish for 24 more hours</a>
          <span class="horIndent"></span>
          <a (click)="onDeletePollClicked(poll.id)" class="noDecor">delete</a>
        </span>
        <span *ngIf="!(poll.createdBy == currentUserID)">
          <span class="horIndent"></span>
          <span style="color: lightslategray; font-size: 14px;">added by &nbsp;
            {{poll.createdByUsername | maskUsername}}</span>
        </span>

      </li>
    </ul>
    <br />
    <span style="color: lightslategray; font-size: 14px;">* if you want to see only admin managed polls ( don't want to
      see polls added by other users ) click 'Restore defaults - cancels all changes' above</span>
    <br />
    <span style="color: lightslategray; font-size: 14px;">** if you don't see a poll it is either not published, not
      accessible to this user name or domain or expired</span>
    <br />
    <span *ngIf="(polls | isNotExpired).length > 0 || (polls ).length > 0"
      style="color: lightslategray; font-size: 14px;">*** clone also copies all associated questions</span>
    <!-- <span *ngIf="(polls | expiredRecently).length > 0" style="color: lightslategray; font-size: 14px;">* clone also copies all associated questions</span> -->
  </div>

  <div *ngIf="isCanNotEditModalDisplayed">
    <form>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" (click)="onEditModalClose()">&times;</span>
            <p>Information</p>
          </div>
          <div class="modal-body">
            <p>This poll has {{votesQntyOnPoll}} vote(s).</p>
            <p>Polls with at least one vote can NOT be edited ( can only be deleted ) !</p>
            <button type="button" class="button button1" (click)="onEditModalClose()">ok</button>
            <br />
            <br />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isDeleteModalDisplayed">
    <form>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" (click)="onDeleteCancel()">&times;</span>
            <p>Please confirm</p>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this poll and all associated questions ?
              <br />
              It has {{votesQntyOnPoll}} vote(s).</p>
            <p>&#x25cf;&nbsp; '{{pollNameToDelete}}'</p>
            <br />
            <p>
              <span style='color: red;'>
                <strong>Warning:</strong>
              </span> all questions associated with this poll will be permanently deleted</p>
            <br />
            <button type="button" class="button button1" (click)="onDeleteConfirm()">Confirm</button>
            <button type="button" class="button button1" (click)="onDeleteCancel()">Cancel</button>
            <br />
            <br />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
