
  <h2>Vote and see poll results</h2>

<ul>
  <li>
    <a routerLink="/vote1" class="addnlightbg">Poll 1</a>
    <span class="horIndent"></span>
    <a routerLink="/editpoll:id" class="noDecor">edit</a>
    <span class="horIndent"></span>
    <a routerLink="/deletepoll:id" class="noDecor">delete</a>
  </li>
  <li>
    <a routerLink="/vote2" class="addnlightbg">Poll 2</a>
    <span class="horIndent"></span>
    <a routerLink="/editpoll:id" class="noDecor">edit</a>
    <span class="horIndent"></span>
    <a routerLink="/deletepoll:id" class="noDecor">delete</a>
  </li>
</ul>
