<div style="margin-left: 50px;">
  <h2>Vote and see poll results</h2>
  <p style="color: gray">( to vote click the respective poll name )</p>
  <ul>
    <li *ngFor="let poll of polls; let ind=index;">
      <a routerLink="/vote1" class="addnlightbg">{{poll.name}}</a>
      <span class="horIndent"></span>
      <a routerLink="/viewquestions:id" class="noDecor">view questions</a>
      <span class="horIndent"></span>
      <a routerLink="/editpoll:id" class="noDecor">edit</a>
      <span class="horIndent"></span>
      <a routerLink="/deletepoll:id" class="noDecor">delete</a>
    </li>
  </ul>
</div>