<div class="header header__content fixedElement">
  <span class="horIndent menuTitle"></span>
  <h4 class="menuTitle" style="color: white">YouPoll</h4>

  <nav>
    <span *ngIf="isLoggedIn">
      <span class="horIndent"></span>
      <a class="header__title" routerLink="/home" routerLinkActive="active-link">Home - Polls List</a>
      <span class="horIndent"></span>
      <a class="header__title" routerLink="/newpoll" routerLinkActive="active-link">Create a new poll</a>
      <span class="horIndent"></span>
      <a class="header__title" routerLink="/logout" routerLinkActive="active-link">Logout</a>
      <span class="extraMenu" style="font-size: 12px; color: lightgray;"> &nbsp;( {{username}} is logged in )</span>
      <span class="horIndent"></span><span class="horIndent"></span><span class="horIndent"></span>
      <a class="header__title extraMenu" style="cursor: pointer;" (click)="onSourceClicked()">source code on Github</a>
    </span>
  </nav>
</div>

<br />

<router-outlet></router-outlet>
<ng4-loading-spinner [timeout]="20000" [loadingText]="'Loading data. Please wait...'"> </ng4-loading-spinner>
