<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<a target="_blank" rel="noopener" href="">Create a new poll</a>
<span class="horIndent"></span>
<a target="_blank" rel="noopener" href="">Edit a poll</a>

<h2>Vote and see poll results</h2>

<ul>
  <li><a class="header__title" routerLink="/vote" routerLinkActive="active-link">Poll 1</a></li>
  <li><a target="_blank" rel="noopener" href="">Poll 2</a></li>
</ul>