<div class="header header__content fixedElement">
  <span class="horIndent"></span>
  <h4 style="color: white">YouPoll</h4>

  <nav>
    <span class="horIndent"></span>
    <a class="header__title" routerLink="/home" routerLinkActive="active-link">Home - Polls List</a>
    <span class="horIndent"></span>
    <a class="header__title" routerLink="/newpoll" routerLinkActive="active-link">Create a new poll</a>
    <span class="horIndent"></span>
    <span *ngIf="isLoggedIn">
      <a class="header__title" routerLink="/logout" routerLinkActive="active-link">Logout</a>
      <span style="font-size: 12px; color: lightgray;"> &nbsp;( {{username}} is logged in )</span>
    </span>
    <span class="horIndent"></span><span class="horIndent"></span><span class="horIndent"></span>
    <a class="header__title" style="cursor: pointer;" (click)="onSourceClicked()">source code in Github</a>
  </nav>
</div>

<br/>

<router-outlet></router-outlet>
<ng4-loading-spinner [timeout]="20000" [loadingText]="'Loading data. Please wait...'"> </ng4-loading-spinner>