  <span *ngIf="option.type=='text' " class="inlineText">
      <span>{{option.text}}</span>
      <span *ngIf="option.text.length == 0">Option {{ind+1}} text goes here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus
        dignissimos saepe a molestiae, error cupiditate. Dolorem voluptates quae veniam vel ad iusto accusantium atque
        repellat? Qui omnis quia itaque!</span>
      <br/>
      <br/>
    </span>

    <span *ngIf="option.type != 'text' ">
      <span class="inlineText">{{option.text}}</span>
    </span>

    <span *ngIf="option.type=='imagelocal' " style="margin-left: 88px;">
      <span *ngIf="option.imageFile">
        <img [src]="option.imageFile" height={{sizes[imageSize]}}>
      </span>
      <span *ngIf="!option.imageFile"> Option {{ind+1}} image goes here
        <br/>
        <br/>
      </span>
    </span>

    <!-- using  {{}}  - for image-->
    <span *ngIf="option.type=='imageurl' " style="margin-left: 88px;">
      <span *ngIf="safeURLimage">
        <img [src]="safeURLimage" height={{sizes[imageSize]}}>
        <span class="horIndent"></span>
        <a class="noDecor" [href]="safeURLimage" target="_blank">view at source</a>
      </span>
      <span *ngIf="!safeURLimage"> Option {{ind+1}} image goes here
        <br/>
        <br/>
      </span>
    </span>

    <!-- using [property]=binding:   - for video -->
    <span *ngIf="option.type=='videourl' " style="margin-left: 88px;">
      <span *ngIf="safeURL">
        <iframe [src]="safeURL" frameborder="0" height={{sizes[imageSize]}} width={{sizesW[imageSize]}} allowfullscreen></iframe>
      </span>
      <span *ngIf="!safeURL"> Option {{ind+1}} video goes here
        <br/>
        <br/>
      </span>
    </span>

    <span *ngIf="option.type=='date' " class="inlineText">
      {{option.startDate | date:'mediumDate'}}
      <span *ngIf="!option.startDate"> Option {{ind+1}} date goes here</span>
      <br/>
      <br/>
    </span>

    <span *ngIf="option.type=='dates' " class="inlineText">
      <span *ngIf="option.startDate && option.endDate">
        from
        <span style="color: rgb(48, 190, 238)">{{option.startDate | date:'mediumDate'}}</span>
        &nbsp; to &nbsp;
        <span style="color: rgb(48, 190, 238)">{{option.endDate | date:'mediumDate'}}</span>
      </span>
      <span *ngIf="!option.startDate || !option.endDate"> Option {{ind+1}} dates go here</span>

      <br/>
      <br/>
    </span>

    <span *ngIf="option.type=='time' " class="inlineText">
      {{option.startTime | date:'h:mm a ( z )'}}
      <span *ngIf="!option.startTime"> Option {{ind+1}} time goes here</span>
      <br/>
      <br/>
    </span>

    <span *ngIf="option.type=='times' " class="inlineText">
      <span *ngIf="option.startTime && option.endTime">
        from
        <span style="color: rgb(48, 190, 238)">{{option.startTime | date:'h:mm a ( z )'}}</span>
        &nbsp; to &nbsp;
        <span style="color: rgb(48, 190, 238)">{{option.endTime | date:'h:mm a ( z )'}}</span>
      </span>
      <span *ngIf="!option.startTime || !option.endTime"> Option {{ind+1}} times go here</span>
      <br/>
      <br/>
    </span>