<div>
  <br/>
  <h4 style="margin-left: 110px;">
    <span *ngIf="!poll_id">New poll:</span>
    <span *ngIf="poll_id">Edit poll:</span>
  </h4>

  <form (ngSubmit)="onSubmit()" #pollForm="ngForm">
    <div class="form-element">
      <label for="name">poll name</label>
      <input type="text" id="name" autocomplete="off" size="40" required [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="warning">
        <label></label>
        Name is required
      </div>
    </div>

    <div class="form-element">
      <label>expires:</label>
      <span *ngIf="!changeDate">
        on {{model.expiresTimeStamp | date:'MMM dd, yyyy @ hh:mm a'}}
        <span class="horIndent"></span>
        <span class="noDecor" (click)="onChangeDateClicked()">change</span>
      </span>
      <span *ngIf="changeDate">
        <input type="text" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" size="40" id="expiresDateTime" [(ngModel)]="expiresDateTime"
          required name="expiresDateTime" #expiresDateTime2="ngModel">
        <owl-date-time #dt></owl-date-time>
        {{expiresDateTime.valid}}
        <div [hidden]="expiresDateTime2.valid || expiresDateTime2.pristine" class="warning">
          <label></label>
          Expiration date and time are required
        </div>
      </span>
    </div>

    <div class="form-element">
      <label for="comments">comments</label>
      <input type="text" id="comment" autocomplete="off" size="40" placeholder=" ( OPTIONAL )" [(ngModel)]="model.comment" name="comment"
        #comment="ngModel">
    </div>

    <div class="form-element">
      <label># of questions:</label>
      <span *ngIf="!poll_id">
      <input type="number" name="questionsQnty" min="1" id="questionsQnty" required [(ngModel)]="model.questionsQnty" name="questionsQnty"
        #questionsQnty="ngModel">
        <div [hidden]="questionsQnty.valid || questionsQnty.pristine" class="warning">
            <label></label>
            Number of questions is required
          </div>    
      </span>

      <span *ngIf="poll_id">
        {{model.questionsQnty}} questions
        <span class="horIndent"></span>
        <span style="font-size: 14px;">to edit click 'Next' button </span>
      </span>
    </div>

    <br/>
    <div style="margin-left: 110px;">
      <label>
        <input type="radio" id="publicAccess" name="publicAccess" value="public" [(ngModel)]="model.publicAccess" #publicAccess="ngModel"> anyone can vote and see results
      </label>
    </div>
    <div style="margin-left: 110px;">
      <label>
        <input type="radio" id="publicAccess" name="publicAccess" value="private" [(ngModel)]="model.publicAccess"> only selected can vote and see results
      </label>
    </div>

    <div *ngIf="model.publicAccess == 'private'">
      <div style="margin-left: 135px;">
        <label>
          <input type="radio" id="privateAccessType" name="privateAccessType" [(ngModel)]="model.privateAccessType" 
            value="withusernames"> users wth these usernames ( comma separated )
        </label>
      </div>
      <div style="margin-left: 135px;">
        <label>
          <input type="radio" id="privateAccessType" name="privateAccessType" [(ngModel)]="model.privateAccessType" 
            value="withdomain"> users with below domain name(s)
        </label>
      </div>
      <div style="margin-left: 135px;">
        <label>
          <input type="radio" id="privateAccessType" name="privateAccessType" [(ngModel)]="model.privateAccessType" 
            value="withaccesscode"> users with following access code(s)  ( comma separated )
        </label>
      </div>
      <span class="verIndent"></span>
      <div style="margin-left: 135px;">
        <input type="text" id="privateAccessorsList" name="privateAccessorsList" style="width:400px;border-radius: 0px;" min="1"
          required [(ngModel)]="model.privateAccessorsList" #privateAccessors="ngModel">
      </div>
    </div>

    <br/>
    <div style="margin-left: 110px;">
      <label>
        <input type="radio" id="nameDiscloseOption" name="nameDiscloseOption" value="anonymous" [(ngModel)]="model.nameDiscloseOption"
          #nameDiscloseOption="ngModel"> voter's name is anonymous - not shown
      </label>
    </div>
    <div style="margin-left: 110px;">
      <label>
        <input type="radio" id="nameDiscloseOption" name="nameDiscloseOption" value="discreet" [(ngModel)]="model.nameDiscloseOption"
          #nameDiscloseOption="ngModel"> voter's name is discreet - shown
      </label>
    </div>
    <div style="margin-left: 110px;">
      <label>
        <input type="radio" id="nameDiscloseOption" name="nameDiscloseOption" value="optional" [(ngModel)]="model.nameDiscloseOption"
          #nameDiscloseOption="ngModel"> voter chooses whether his / her name should be disclosed
      </label>
    </div>

    <br/>
    <div class="form-element">
      <label></label>
      <button type="submit" class="button button1" [disabled]="!pollForm.form.valid">Next ></button>
    </div>

  </form>

</div>