<div id="container">
  <div id="left">
    <div>
      <br/>
      <span style="margin-left: 110px; font-size: 18px;">New question - question # __:</span>

      <form (ngSubmit)="onSubmit()" #questionForm="ngForm">

        <br/>
        <div style="margin-left: 110px;">
          <label>
            <input type="radio" id="multipleChoice" name="multipleChoice" value="false" [(ngModel)]="model.multipleChoice" #multipleChoice="ngModel"
              (ngModelChange)="onSelectTypeChange()"> single choice question
          </label>
        </div>
        <div style="margin-left: 110px;">
          <label>
            <input type="radio" id="multipleChoice" name="multipleChoice" value="true" [(ngModel)]="model.multipleChoice" (ngModelChange)="onSelectTypeChange()"> multiple choice question
          </label>
        </div>
        <div *ngIf="model.multipleChoice == 'true'">
          <div style="margin-left: 125px;">
            <label>
              <input type="radio" id="multipleChoiceOption" name="multipleChoiceOption" value="oneormore" [(ngModel)]="multipleChoiceOption"
                (ngModelChange)="onMultipleOptionChange($event)"> select any number of checkboxes (minimum - 1)
            </label>
          </div>
          <div style="margin-left: 125px;">
            <label>
              <input type="radio" id="multipleChoiceOption" name="multipleChoiceOption" [(ngModel)]="multipleChoiceOption" (ngModelChange)="onMultipleOptionChange($event)"
                value="exactly"> exactly
            </label>
            <label>
              <input type="radio" id="multipleChoiceOption" name="multipleChoiceOption" [(ngModel)]="multipleChoiceOption" (ngModelChange)="onMultipleOptionChange($event)"
                value="lessthan"> less than (min.1)
            </label>
            <label>
              <input type="radio" id="multipleChoiceOption" name="multipleChoiceOption" [(ngModel)]="multipleChoiceOption" (ngModelChange)="onMultipleOptionChange($event)"
                value="morethan"> more than
            </label>
          </div>
          <div style="margin-left: 125px;">
            <button type="button" class="button button1" (click)="deductMultiOption()"> - </button>
            <input type="text" id="multipleChoiceOptionsNumber" name="multipleChoiceOptionsNumber" style="width:30px;border-radius: 0px;"
              min="1" required [(ngModel)]="multipleChoiceOptionQnty" (ngModelChange)="onMultiOptionQntyChange($event)" #multipleChoiceOptionsNumber="ngModel">
            <button type="button" class="button button1" (click)="addMultiOption()"> + </button>
            checkboxes must be selected
          </div>

          <div *ngIf="multipleChoiceOption != 'morethan' ">
            <div *ngIf="multipleChoiceOptionQnty > model.questionsQnty" class="warning" style="margin-left: 125px;">
              This can not be more than number of options
            </div>
          </div>

          <div *ngIf="multipleChoiceOption == 'morethan' ">
            <div *ngIf="multipleChoiceOptionQnty >= model.questionsQnty" class="warning" style="margin-left: 125px;">
              This can not be equal to or more than number of options
            </div>
          </div>

          <p style="font-size: 14px; margin-left: 125px;">* try it on right panel. 'Next >' button turns blue when condition met</p>
          <hr/>
        </div>

        <div class="form-element">
          <label for="q_text">Question text</label>
          <input type="text" id="q_text" autocomplete="off" size="40" required [(ngModel)]="model.q_text" name="q_text" #q_text="ngModel">
          <div [hidden]="q_text.valid || q_text.pristine" class="warning">
            <label></label>
            Question text is required
          </div>
        </div>

        <div class="form-element">
          <label># of options:</label>
          <button type="button" class="button button1" (click)="removeLastOption()"> - </button>
          <input style="width:80px;border-radius: 0px;" type="text" name="questionsQnty" min="1" id="questionsQnty" required [(ngModel)]="model.questionsQnty"
            name="questionsQnty" (ngModelChange)="onQntyChange($event)" #questionsQnty="ngModel">
          <button type="button" class="button button1" (click)="addOption()"> + </button>
          <div [hidden]="questionsQnty.valid || questionsQnty.pristine" class="warning">
            <label></label>
            Number of options is required
          </div>
          <div *ngIf="2 > model.questionsQnty" class="warning">
            <div *ngIf="questionsQnty.valid">
              <label></label>
              Number of options can not be less than 2
            </div>
          </div>
        </div>

        <div *ngFor="let option of model.q_options; let ind=index;">
          <hr/>
          <div style="margin-left: 110px;">
            <span>Option {{ind + 1}}: </span>
          </div>
          <div class="form-element">
            <label>question type:</label>

            <select [(ngModel)]="model.q_options[ind].type" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let object of objects" [ngValue]="object.type" [selected]="object.type === model.q_options[ind].type">{{object.name}}
              </option>
            </select>

            <a id="{{model.q_options[ind].id}}" style="cursor: pointer;" class="noDecor" #removeOpt (click)="removeOption(removeOpt)">
              &nbsp; remove
            </a>

            <div [ngSwitch]="model.q_options[ind].type">

              <div *ngSwitchCase="'text'">
                <div class="form-element">
                  <label for="q_options">Option text</label>
                  <input type="text" id="q_options{{ind}}" autocomplete="off" size="40" required [(ngModel)]="model.q_options[ind].text" name="q_options{{ind}}"
                    #q_options="ngModel">
                  <div [hidden]="q_options.valid || q_options.pristine || q_options.untouched" class="warning">
                    <label></label>
                    Option text is required
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'imagelocal'">
                <div class="form-element">
                  <div *ngIf="uploaderHidden[ind]">
                    <span class="verIndent"></span>
                    <span style="margin-left: 110px;" class="noDecor" (click)="onImageChangeRequest(ind)">
                      <span *ngIf="model.q_options[ind].imageFile.length != 0">
                        ( change image )
                      </span>
                      <span *ngIf="model.q_options[ind].imageFile.length == 0">
                        ( add image )
                      </span>
                    </span>
                    <span class="verIndent"></span>
                  </div>
                  <div *ngIf="!uploaderHidden[ind]">
                    <image-upload class="imageUpload" buttonCaption="Upload image" dropBoxMessage="OR drop image here" [max]="1" [extensions]="['jpg','jpeg','png','gif']"
                      [maxFileSize]="1048576" (uploadFinished)="onUploadFinished(ind, $event)" (uploadStateChanged)="onUploadStateChanged($event)">
                    </image-upload>
                  </div>
                </div>
                <div style="font-size: 12px; color: red; margin-left: 110px;">
                  Warning: others won't see image as it is stored in LocalStorage to save cloud traffic
                </div>
              </div>

              <div *ngSwitchCase="'imageurl'">
                <div class="form-element">
                  <label for="q_options">Image URL: </label>
                  <input type="text" id="q_options{{ind}}" autocomplete="off" size="40" required [(ngModel)]="model.q_options[ind].imageURL"
                    name="q_options{{ind}}" #q_options="ngModel" (ngModelChange)="onImageURLChanged(ind)">
                  <div [hidden]="q_options.valid || q_options.pristine || q_options.untouched" class="warning">
                    <label></label>
                    Image URL is required
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'videourl'">
                <div class="form-element">
                  <label for="q_options">Video URL: </label>
                  <input type="text" id="q_options{{ind}}" autocomplete="off" size="40" required [(ngModel)]="model.q_options[ind].videoURL"
                    name="q_options{{ind}}" (ngModelChange)="onVideoURLChanged(ind)" #q_options="ngModel">
                  <div [hidden]="q_options.valid || q_options.pristine || q_options.untouched" class="warning">
                    <label></label>
                    Video URL is required
                  </div>
                </div>
              </div>


              <div *ngSwitchCase="model.q_options[ind].type === 'imagelocal' 
              || model.q_options[ind].type === 'imageurl' 
              || model.q_options[ind].type === 'videourl' 
              ? model.q_options[ind].type : '' ">
                <div>
                  <label for="q_options">Image size: </label>
                  <label>
                    <input type="radio" id="imageSize{{ind}}" name="imageSize{{ind}}" [(ngModel)]="model.imageSize" (ngModelChange)="onImageSizeChange($event)"
                      #imageSize="ngModel" value="0"> small
                  </label>
                  <label>
                    <input type="radio" id="imageSize{{ind}}" name="imageSize{{ind}}" [(ngModel)]="model.imageSize" (ngModelChange)="onImageSizeChange($event)"
                      #imageSize="ngModel" value="1"> medium
                  </label>
                  <label>
                    <input type="radio" id="imageSize{{ind}}" name="imageSize{{ind}}" [(ngModel)]="model.imageSize" (ngModelChange)="onImageSizeChange($event)"
                      #imageSize="ngModel" value="2"> large
                  </label>
                </div>
              </div>

              <div *ngSwitchCase="'date'">
                <div class="form-element">
                  <label>Date - on:</label>
                  <input type="text" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" size="40" [(ngModel)]="model.q_options[ind].startDate"
                    name="startDate" #startDate="ngModel">
                  <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                </div>
              </div>

              <div *ngSwitchCase="'dates'">
                <div class="form-element">
                  <label>Date from:</label>
                  <input type="text" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" size="40" [(ngModel)]="model.q_options[ind].startDate"
                    name="startDate" #startDate="ngModel">
                  <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                </div>

                <div class="form-element">
                  <label>to </label>
                  <input type="text" [owlDateTimeTrigger]="dt3a" [owlDateTime]="dt3a" size="40" [(ngModel)]="model.q_options[ind].endDate"
                    name="endDate" #endDate="ngModel">
                  <owl-date-time [pickerType]="'calendar'" #dt3a></owl-date-time>
                </div>
              </div>

              <div *ngSwitchCase="'time'">
                <div class="form-element">
                  <label>Time - at </label>
                  <input type="text" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" size="40" id="startTime" [(ngModel)]="model.q_options[ind].startTime"
                    name="startTime" #startTime="ngModel">
                  <owl-date-time [pickerType]="'timer'" #dt4 hour12Timer="true"></owl-date-time>
                </div>
              </div>

              <div *ngSwitchCase="'times'">
                <div class="form-element">
                  <label>Time from </label>
                  <input type="text" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" size="40" id="startTime" [(ngModel)]="model.q_options[ind].startTime"
                    name="startTime" #startTime="ngModel">
                  <owl-date-time [pickerType]="'timer'" #dt4 hour12Timer="true"></owl-date-time>
                </div>
                <div class="form-element">
                  <label>to </label>
                  <input type="text" [owlDateTimeTrigger]="dt4a" [owlDateTime]="dt4a" size="40" id="endTime" [(ngModel)]="model.q_options[ind].endTime"
                    name="endTime" #endTime="ngModel">
                  <owl-date-time [pickerType]="'timer'" #dt4a hour12Timer="true"></owl-date-time>
                </div>
              </div>

            </div>
          </div>
        </div>


        <br/>
        <div class="form-element">
          <label></label>
          <button type="button" class="button button1" (click)="addOption()">+ add option</button>
          <span class="horIndent"></span>
          <button type="submit" class="button button1" [disabled]="!questionForm.form.valid">Next ></button>
        </div>

      </form>
    </div>
  </div>

  <div id="right">
    <br/>
    <p>
      <span class="horIndent"></span>{{model.q_text}}
      <span *ngIf="!model.q_text"> Your question text goes here</span>
    </p>
    <div style="font-size: 14px;">
      <span class="horIndent"></span>
      <span *ngIf="model.multipleChoice=='true'">
        <span *ngIf="multipleChoiceOption=='oneormore'">( select any number of options )</span>
        <span *ngIf="multipleChoiceOption=='exactly'"> ( select exactly {{multipleChoiceOptionQnty}} options )</span>
        <span *ngIf="multipleChoiceOption=='lessthan'"> ( select less than {{multipleChoiceOptionQnty}} options )</span>
        <span *ngIf="multipleChoiceOption=='morethan'"> ( select more than {{multipleChoiceOptionQnty}} options )</span>
      </span>
      <span *ngIf="model.multipleChoice=='false'">( choose only ONE option )</span>
    </div>
    <div *ngFor="let option of model.q_options; let ind=index;">
      <div class="parent">

        <span *ngIf="model.multipleChoice=='true'">
          <label>
            <span class="horIndent"></span>
            <input class="child" type="checkbox" name="isSelected{{addedChecklists[ind].id}}" [(ngModel)]="addedChecklists[ind].isSelected"
              (ngModelChange)="onSelectedChange($event)" #isSelected="ngModel">
            <span class="child" style="margin-left: 20px"> &nbsp; {{ind + 1}}.</span>
          </label>
        </span>

        <span *ngIf="model.multipleChoice=='false'">
          <label>
            <span class="horIndent"></span>
            <input class="child" type="radio" name="isSelected" [(ngModel)]="radioButtonClicked" value={{ind}} (ngModelChange)="onSelectedChangeRadio($event)"
              #isSelectedRadio="ngModel">
            <span class="child" style="margin-left: 20px"> &nbsp; {{ind + 1}}.</span>
          </label>
        </span>

        <span *ngIf="option.type=='text' " class="inlineText">
          <span>{{option.text}}</span>
          <span *ngIf="option.text.length == 0">Option {{ind+1}} text goes here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam necessitatibus
            dignissimos saepe a molestiae, error cupiditate. Dolorem voluptates quae veniam vel ad iusto accusantium atque
            repellat? Qui omnis quia itaque!</span>
          <br/>
          <br/>
        </span>

        <span *ngIf="option.type=='imagelocal' " style="margin-left: 66px;">
          <span *ngIf="option.imageFile">
            <img [src]="option.imageFile" height={{sizes[model.imageSize]}}>
          </span>
          <span *ngIf="!option.imageFile"> Option {{ind+1}} image goes here</span>
        </span>

        <!-- using  {{}}  - for image-->
        <span *ngIf="option.type=='imageurl' " style="margin-left: 66px;">
          <span *ngIf="safeURLimage[ind]">
            <img [src]="safeURLimage[ind]" height={{sizes[model.imageSize]}}>
            <span class="horIndent"></span>
            <a class="noDecor" [href]="safeURLimage[ind]" target="_blank">view at source</a>
          </span>
          <span *ngIf="!safeURLimage[ind]"> Option {{ind+1}} image goes here</span>
        </span>

        <!-- using [property]=binding:   - for video -->
        <span *ngIf="option.type=='videourl' " style="margin-left: 66px;">
          <span *ngIf="safeURL[ind]">
            <iframe [src]="safeURL[ind]" frameborder="0" height={{sizes[model.imageSize]}} width={{sizesW[model.imageSize]}} allowfullscreen></iframe>
          </span>
          <span *ngIf="!safeURL[ind]"> Option {{ind+1}} video goes here</span>
        </span>

        <span *ngIf="option.type=='date' " class="inlineText">
          {{option.startDate | date:'mediumDate'}}
          <span *ngIf="!option.startDate"> Option {{ind+1}} date goes here</span>
          <br/>
          <br/>
        </span>

        <span *ngIf="option.type=='dates' " class="inlineText">
          <span *ngIf="option.startDate && option.endDate">
            from
            <span style="color: rgb(48, 190, 238)">{{option.startDate | date:'mediumDate'}}</span>
            &nbsp; to &nbsp;
            <span style="color: rgb(48, 190, 238)">{{option.endDate | date:'mediumDate'}}</span>
          </span>
          <span *ngIf="!option.startDate || !option.endDate"> Option {{ind+1}} dates go here</span>

          <br/>
          <br/>
        </span>

        <span *ngIf="option.type=='time' " class="inlineText">
          {{option.startTime | date:'h:mm a ( z )'}}
          <span *ngIf="!option.startTime"> Option {{ind+1}} time goes here</span>
          <br/>
          <br/>
        </span>

        <span *ngIf="option.type=='times' " class="inlineText">
          <span *ngIf="option.startTime && option.endTime">
            from
            <span style="color: rgb(48, 190, 238)">{{option.startTime | date:'h:mm a ( z )'}}</span>
            &nbsp; to &nbsp;
            <span style="color: rgb(48, 190, 238)">{{option.endTime | date:'h:mm a ( z )'}}</span>
          </span>
          <span *ngIf="!option.startTime || !option.endTime"> Option {{ind+1}} times go here</span>
          <br/>
          <br/>
        </span>

      </div>
    </div>
    <div>
      <br/>
      <span class="horIndent"></span>
      <button type="button" class="button button1" [disabled]="!CLsValid">Next ></button>
      <br/>
      <br/>
      <span style="font-size: 14px; color: #000;">
        <span class="horIndent"></span>* this button is NOT a navigation button. It gets activated </span>
      <br/>
      <span style="font-size: 14px; color: #000;">
        <span class="horIndent"></span>when selection criteria are met</span>
    </div>
  </div>
</div>