<div id="container">
  <div id="left">
    <div>
      <br/>
      <span style="margin-left: 110px; font-size: 18px;">New question - question # __:</span>

      <form (ngSubmit)="onSubmit()" #questionForm="ngForm">

        <br/>
        <div style="margin-left: 110px;">
          <label>
            <input 
              type="radio"
              id="multipleChoice"
              name="multipleChoice"
              value="false"
              [(ngModel)]="model.multipleChoice" 
              #multipleChoice="ngModel"
              (ngModelChange)="onSelectTypeChange()"
            > single choice question
          </label>
        </div>
        <div style="margin-left: 110px;">
          <label>
            <input type="radio" id="multipleChoice" name="multipleChoice" 
              value="true" 
              [(ngModel)]="model.multipleChoice"
              (ngModelChange)="onSelectTypeChange()"
            > multiple choice question
          </label>
        </div>
        <div *ngIf="model.multipleChoice == 'true'">
            <div style="margin-left: 125px;">
                <label>
                  <input 
                    type="radio"
                    id="multipleChoiceOption"
                    name="multipleChoiceOption"
                    value="oneormore"
                    [(ngModel)]="multipleChoiceOption"
                    (ngModelChange)="onMultipleOptionChange($event)"      
                  > select any number of checkboxes (minimum - 1)
                </label>
                </div>
                <div style="margin-left: 125px;">
                <label>
                  <input type="radio" id="multipleChoiceOption" name="multipleChoiceOption" 
                  [(ngModel)]="multipleChoiceOption"
                  (ngModelChange)="onMultipleOptionChange($event)"
                  value="exactly" 
                  > exactly
                </label>
                  <label>
                    <input type="radio" id="multipleChoiceOption" name="multipleChoiceOption" 
                    [(ngModel)]="multipleChoiceOption"
                    (ngModelChange)="onMultipleOptionChange($event)"
                    value="lessthan" 
                    > less than
                  </label>
                    <label>
                      <input type="radio" id="multipleChoiceOption" name="multipleChoiceOption" 
                      [(ngModel)]="multipleChoiceOption"
                      (ngModelChange)="onMultipleOptionChange($event)"          
                      value="morethan" 
                      > more than 
                    </label>
                  </div>
                  <div style="margin-left: 125px;">
                    <button type="button" class="button button1" (click)="deductMultiOption()"> - </button>
                    <input 
                      type="text" 
                      id="multipleChoiceOptionsNumber" 
                      name="multipleChoiceOptionsNumber" 
                      style="width:30px;border-radius: 0px;" 
                      min="1" 
                      required 
                      [(ngModel)]="multipleChoiceOptionQnty"
                      (ngModelChange)="onMultiOptionQntyChange($event)" 
                      #multipleChoiceOptionsNumber="ngModel"
                    >
                    <button type="button" class="button button1" (click)="addMultiOption()"> + </button>
                  checkboxes must be selected
                  </div>
                  <div *ngIf="multipleChoiceOptionQnty > model.questionsQnty" class="warning"
                      style="margin-left: 125px;"
                    >
                        This can not be more than number of options
                      </div>
          
                  <p style="font-size: 14px; margin-left: 125px;">* try it on right panel. 'Next >' button turns blue when condition met</p>
                  <hr/>
        </div>
      
        <div class="form-element">
          <label for="q_text">Question text</label>
          <input type="text" id="q_text" autocomplete="off" size="40" required [(ngModel)]="model.q_text" name="q_text" #q_text="ngModel">
          <div [hidden]="q_text.valid || q_text.pristine" class="warning">
            <label></label>
            Question text is required
          </div>
        </div>

        <div class="form-element">
          <label># of options:</label>
          <button type="button" class="button button1" (click)="removeLastOption()"> - </button>
          <input style="width:80px;border-radius: 0px;" type="text" name="questionsQnty" min="1" id="questionsQnty" required [(ngModel)]="model.questionsQnty"
            name="questionsQnty" (ngModelChange)="onQntyChange($event)" #questionsQnty="ngModel">
          <button type="button" class="button button1" (click)="addOption()"> + </button>
          <div [hidden]="questionsQnty.valid || questionsQnty.pristine" class="warning">
            <label></label>
            Number of options is required
          </div>
          <div *ngIf="2 > model.questionsQnty" class="warning">
            <div *ngIf="questionsQnty.valid">
              <label></label>
              Number of options can not be less than 2
            </div>
          </div>
        </div>

        <div *ngFor="let option of model.q_options; let ind=index;">
          <hr/>
          <div style="margin-left: 110px;">
            <span>Option {{ind + 1}}: </span>
          </div>
          <div class="form-element">
            <label>question type:</label>
            <select id="describe" [(ngModel)]="model.q_options[ind].type" name="type">
              <option value="text">text </option>
              <option value="imagelocal">image - local file</option>
              <option value="imageurl">image URL</option>
              <option value="video">video URL or other URL</option>
              <option value="date">specific date</option>
              <option value="dates">date range</option>
              <option value="time">specific time</option>
              <option value="times">time range</option>

            </select>

            <a 
              id="{{model.q_options[ind].id}}" 
              style="cursor: pointer;" 
              class="noDecor"
              #removeOpt
              (click)="removeOption(removeOpt)"> &nbsp; remove
            </a>

            <div [ngSwitch]="model.q_options[ind].type">

              <div *ngSwitchCase="'text'">
                <div class="form-element">
                  <label for="q_options">Option text</label>
                  <input type="text" id="q_options{{ind}}" autocomplete="off" size="40" required [(ngModel)]="model.q_options[ind].text" name="q_options{{ind}}"
                    #q_options="ngModel">
                  <div [hidden]="q_options.valid || q_options.pristine || q_options.untouched" class="warning">
                    <label></label>
                    Option text is required
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="'time'">
                <div class="form-element">
                  <label>Time - at </label>
                  <input type="text" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" size="40" id="expiresAt" [(ngModel)]="model.expiresAt"
                    name="expiresAt" #expiresAt="ngModel">
                  <owl-date-time [pickerType]="'timer'" #dt4 hour12Timer="true"></owl-date-time>
                </div>
              </div>

            </div>
          </div>
        </div>


        <br/>
        <div class="form-element">
          <label></label>
          <button type="button" class="button button1" (click)="addOption()">+ add option</button>
          <span class="horIndent"></span>
          <button type="submit" class="button button1" [disabled]="!questionForm.form.valid">Next ></button>
        </div>

      </form>
    </div>
  </div>

  <div id="right">
    <br/>
    <p>
      <span class="horIndent"></span>Question: {{model.q_text}}</p>
    <div style="font-size: 14px;">
      <span class="horIndent"></span>
      <span *ngIf="model.multipleChoice=='true'">( choose multiple options )</span>
      <span *ngIf="model.multipleChoice=='false'">( choose only ONE option )</span>
    </div>
    <div *ngFor="let option of model.q_options; let ind=index;">
      <p>
        <span *ngIf="model.multipleChoice=='true'">
          <label>
            <span class="horIndent"></span>
            <input 
              type="checkbox" 
              name="isSelected{{selectedCLs[ind].id}}" 
              [(ngModel)]="selectedCLs[ind].isSelected"
              (ngModelChange)="onSelectedChange($event)"
              #isSelected="ngModel"
            > &nbsp; {{ind + 1}}. &nbsp; {{model.q_options[ind].text}}
          </label>
        </span>
        <span *ngIf="model.multipleChoice=='false'">
          <label>
            <span class="horIndent"></span>
            <input
              type="radio"
              name="isSelected"
            > &nbsp; {{ind + 1}}. &nbsp; {{model.q_options[ind].text}}
          </label>
        </span>
      </p>
    </div>
    <br/>
    <span class="horIndent"></span>
    <button type="submit" class="button button1" [disabled]="!CLsValid">Next ></button>
<p style="font-size: 14px;">* this button is NOT a navigation button. It gets activated when selection criteria are met</p>
  </div>
</div>