
  <h2>Vote and see poll results</h2>

<ul>
  <li>
    <a class="header__title" routerLink="/vote1" routerLinkActive="active-link">Poll 1</a>
    <span class="horIndent"></span>
    <a class="header__title" routerLink="/editpoll:id" routerLinkActive="active-link">edit</a>
  </li>
  <li>
    <a class="header__title" routerLink="/vote2" routerLinkActive="active-link">Poll 2</a>
    <span class="horIndent"></span>
    <a class="header__title" routerLink="/editpoll:id" routerLinkActive="active-link">edit</a>
  </li>
</ul>
